aniso8601==8.1.1
click==7.1.2
dynaconf==3.1.2
Faker==5.8.0
Flask==1.1.2
flask-marshmallow==0.14.0
flask-restx
Flask-SQLAlchemy==2.4.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
SQLAlchemy==1.3.22
text-unidecode==1.3
Werkzeug==1.0.1
gunicorn
